article {
    display: flex;
    flex-direction: column;
}

.question {
    display: none;
} 

.result {
    display: none;
} 

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

h1 {
    font-style: italic;
    font-weight: bolder;
}

.container {
    background-color:antiquewhite;
}

#start-but {
    font-style: italic;
    font-size: x-large;
}